* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

:root {
    --color-letra-h1: rgba(31, 62, 114, 1);
    --color-letra-p: rgb(109, 123, 147);
    --color-boton: rgba(57, 89, 215, 1);
    --color-vaccination: rgb(46, 78, 204);
    --ancho-principal: 550px;
}

/*header*/
header {
    display: flex;
    min-height: 7rem;
    justify-content: space-between;    
    align-items: center;
    padding: 0 9rem;
    color: var(--color-vaccination);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1.2rem;
    font-size: 1.25rem;
}

header nav a {
    color: var(--color-letra-p);
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.boton-especial {
    background-color: var(--color-boton);
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 0.3rem;
    box-shadow:0 0 0.2rem var(--color-boton);
    cursor: pointer;
}
header nav a:hover{
    background-color: white;
    color: var(--color-boton);
    box-shadow:0 0 0.8rem var(--color-boton);
    border-radius: 0.3rem;
}

.boton-especial:hover{
    background-color: white;
    color: var(--color-boton);
    box-shadow:0 0 0.8rem var(--color-boton);
    border-radius: 0.3rem;
}


/*primer contenedor*/

.primer-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0 0 9rem;
}

.primer-contenedor .izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 7rem;
}

.primer-contenedor .izq .arriba h1 {
    font-size: 4.2rem;
    color: var(--color-letra-h1);
    line-height: 4.5rem;
}

.primer-contenedor .izq .arriba p {
    font-size: 1.3rem;
    color: var(--color-letra-p);
    line-height: 2rem;
    padding-top: 2rem;
    font-weight: 400;
}

.primer-contenedor .arriba-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    color: var(--color-letra-h1);
    font-size: 1.2rem;
}

.primer-contenedor .arriba-select img {
    height: 50px;
    width: 50px;
}

#elemento-select {
    display: flex;
    align-items: center;
}

.abajo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10rem;
}
.abajo img{
    height: 40px;
    width: 40px;
    padding-right: 1rem;
}

.abajo-titulo {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}

.abajo-titulo span{
    font-size: 1.7rem;
    color: var(--color-letra-h1);
}

.banner{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem 3rem;
    gap: 3rem;
    font-size: 1.5rem;
    color: var(--color-letra-p);
    box-shadow:0 0 2rem  rgba(57, 89, 215, 0.275);
}

.banner .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner .info div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#datos-banner {
    padding-left: 3.5rem;
    font-size: 2rem;
    color: var(--color-letra-h1);
    cursor: pointer;
}

.primer-contenedor .der img {
    width: 730px;
    height: 950px;
}


/*segundo contenendor*/
.segundo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 5rem;
}

.logo-vac {
    position: static;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    opacity: 0.2;
    padding-left: 5rem;
    padding-right: 5rem;
}


.contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10rem 0 0 9rem;
}

.contenido h1 {
    color: var(--color-letra-h1);
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contenido p {
    color: var(--color-letra-p);
    font-size: 1.2rem;
    line-height: 2rem;
}

.beneficios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 9rem;
}

.block-benef {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    min-width: 240px;
    padding: 2rem 1rem 2rem 2rem;
    border: 3pt solid rgba(23, 164, 174, 0.2);
    border-radius: 1rem;
    box-shadow:0 0 0.4rem rgba(57, 89, 215, 0.153);
}

.block-benef img {
    height: 50px;
    width: 50px;
    padding: 0 0 2rem 0;
}

.block-benef h2 {
    color: var(--color-letra-h1);
    padding-bottom: 2rem;
}

.block-benef p {
    color: var(--color-letra-p);
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 3rem;
}


.tercer-contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 2rem;
}

.tercer-contenedor .izq img {
    width: 650px;
    height: 960px;
}

.tercer-contenedor .der {
    padding: 6rem 0 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cont-preparation h2 {
    font-size: 2.8rem;
    color: var(--color-letra-h1);
    padding-bottom: 2rem;
}

.cont-preparation p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--color-letra-p);
    padding-bottom: 5rem;
}

.list-preparation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
}

.caj-list-preparation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.9);
    border: 2pt solid rgba(52, 46, 218, 0.141);
    border-radius: 5pt;
    
    margin:0 0 2rem 0;
    padding: 0rem 1rem;
}

.caj-list-preparation div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.caj-list-respuesta {
    display: flex;
    flex-direction: column;
}

.caj-list-preparation h3 {
    color: var(--color-letra-h1);
}

.caj-list-respuesta span {
    color: var(--color-letra-p);
    font-weight: 400;
    padding-top: 1rem;
    font-size: 0.8rem;
}

.img-trc-boton {
    height: 20px;
    width: 20px;
}

.caj-list-preparation div img {
    padding-right: 0.5rem;
    height: 35px;
    width: 35px;
}


.cuarto-contenedor {
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
    padding-left: 9rem;
    margin-bottom: 10rem;
}

.cuarto-contenedor .der img {
    margin-top: 5rem;
    width: 650px;
    height: 800px;
}

.cuarto-contenedor .izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    justify-content: space-around;
}


.cuad-contact {
    display: flex;
    flex-direction: column;
}

.contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 12rem;
    min-width: 15rem;
    margin-bottom: 2rem;
    border: 3px solid  rgba(46, 78, 204, 0.245);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(46, 78, 204, 0.46);;
}

.contact-button img {
    height: 50px;
    width: 50px;
    padding-right: 1rem;
}

.contact-button-colum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-button-colum div {
    display: flex;
    min-height: 4rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-button-colum h2 {
    color: var(--color-letra-h1);
}

.contact-button-colum span {
    color: var(--color-letra-p);
}

.contact-button-send {
    background-color: rgba(241, 245, 255, 1);
    display: flex;
    justify-content: center;
    min-width: 10rem;
    margin-top: 2rem;
    padding: 1rem 1rem;
    color: var(--color-vaccination);
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact-button-send:hover {
    background-color: var(--color-boton);
    color: white;
    box-shadow: 0 0 0.5rem var(--color-vaccination);
}

footer {
    display: flex;
    background-color: rgba(238, 243, 255, 1);
    flex-direction: column;
    padding: 5rem 7rem 2rem 9rem;
}

.up {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}


.up-izq h2 {
    color: var(--color-vaccination);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.up-izq p {
    color: var(--color-letra-p);
    line-height: 1.8rem;
}

.up-der {
    display: flex;
}

.up-der div {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    gap: 1.2rem;
}

.up-der h2 {
    color: var(--color-letra-h1);
    font-size: 2rem;
}

.up-der span {
    color: var(--color-letra-p);
    font-weight: 400;
    cursor: pointer;
}

.up-der span:hover {
    color: var(--color-boton);
    font-weight: 400;
    cursor: pointer;
}



.down {
    display: flex;
    justify-content: space-between;
    color: var(--color-letra-p);
    padding-top: 5rem;
}

.down span{
    margin-left: 3rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.9rem;
}
